header {
  overflow: hidden;

  #fortytwo-admin-breadcrumbs {
    position: relative;
    z-index: 1;
  }

  #fortytwo-admin-page-title {
    float: left;
  }

  #sitebranding {
    float: left;
    margin-right: 30px;

    .logo img {
      height: 60px;
      width: auto;
    }
  }
}
