// Various arrows (Open arrows), (Closed arrows)
$fontarrows: (down '', up '', left '', right ''), (down '', up '', left '', right '');
$icon-spacing: 5px;

$sans: 'Poppins', Helvetica, Arial;
$default-font: $sans;

$default-font-size: 14px;
$default-line-height: 24px;
